# As part of FAQ move Dec 2007
RedirectPermanent /faq/bugs.html http://wiki.apache.org/tomcat/FAQ/Bugs
RedirectPermanent /faq/classnotfound.html http://wiki.apache.org/tomcat/FAQ/Class_Not_Found
RedirectPermanent /faq/cluster.html http://wiki.apache.org/tomcat/FAQ/Clustering
RedirectPermanent /faq/connectors.html http://wiki.apache.org/tomcat/FAQ/Connectors
RedirectPermanent /faq/database.html http://wiki.apache.org/tomcat/FAQ/Database
RedirectPermanent /faq/deployment.html http://wiki.apache.org/tomcat/FAQ/Deployment
RedirectPermanent /faq/development.html http://wiki.apache.org/tomcat/FAQ/Developing
RedirectPermanent /faq/fda-validation.html http://wiki.apache.org/tomcat/FAQ/FDA_Validation
RedirectPermanent /faq/logging.html http://wiki.apache.org/tomcat/FAQ/Logging
RedirectPermanent /faq/memory.html http://wiki.apache.org/tomcat/FAQ/Memory
RedirectPermanent /faq/meta.html http://wiki.apache.org/tomcat/FAQ/About
RedirectPermanent /faq/misc.html http://wiki.apache.org/tomcat/FAQ/Miscellaneous
RedirectPermanent /faq/otherOperatingSystems.html http://wiki.apache.org/tomcat/FAQ/Other_Operating_Systems
RedirectPermanent /faq/performance.html http://wiki.apache.org/tomcat/FAQ/Performance_and_Monitoring
RedirectPermanent /faq/security.html http://wiki.apache.org/tomcat/FAQ/Security
RedirectPermanent /faq/tomcatuser.html http://wiki.apache.org/tomcat/FAQ/Tomcat_User
RedirectPermanent /faq/unix.html http://wiki.apache.org/tomcat/FAQ/Linux_Unix
RedirectPermanent /faq/windows.html http://wiki.apache.org/tomcat/FAQ/Windows
RedirectPermanent /faq/index.html http://wiki.apache.org/tomcat/FAQ
RedirectPermanent /faq/ http://wiki.apache.org/tomcat/FAQ


